@{
    ViewBag.Title = "Fag";
}
<h1>Courses</h1>

<button type="button" class="btn btn-primary" id="AddCourseBtn">Opret Fag</button>

<table class="table table-striped" id="CourseTable">
    <thead>
        <tr>
            <th width="33%" class="text-center">Fag</th>
            <th width="33%" class="text-center">Elever Tilmeldt</th>
            <th width="33%" class="text-center">Funktioner</th>
        </tr>
    </thead>
    <tbody id="CourseTableBody">
        <tr>
            <td>Test</td>
            <td>Test2</td>
            <td class="text-center">
                <button class="btn btn-success btn-sm btn-inlineblock">Edit</button>
                <button class="btn btn-danger btn-sm btn-inlineblock">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="EditCourseModal" tabindex="-1" role="dialog" aria-labelledby="EditCourseModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="EditCourseModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="EditCourseName">Fag</label>
                        <input type="text" class="form-control" id="EditCourseName" placeholder="Fag" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-inlineblock" data-dismiss="modal">Luk</button>
                <button type="button" class="btn btn-success btn-inlineblock" id="SaveCourseBtn">Gem</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddCourseModal" tabindex="-1" role="dialog" aria-labelledby="AddCourseModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AddCourseModalLabel">Opret Nyt Fag</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="AddCourseName">Fag</label>
                        <input type="text" class="form-control" id="AddCourseName" placeholder="Fag" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-inlineblock" data-dismiss="modal">Luk</button>
                <button type="button" class="btn btn-success btn-inlineblock" id="AddNewCourseBtn">Opret</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/Courses.js"></script>
}