.body-content{
    margin-top: 75px;
}
h1{
    font-family: Verdana;
    font-weight: bold;
}
.table{
    thead{
        background: #1f375c;
        border-bottom: #000 solid 1px;
        th{
            font-family: Verdana;
            font-size: 12px;
            letter-spacing: 1px;
        }
    }
    tbody{
        tr{
            td{
                vertical-align: middle;
                font-family: Verdana;
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
    }
    border: #000 solid 1px;
}

.btn-inlineblock{
    display: inline-block !important;
    width: 45%;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
}
.btn-inlineblock:nth-child(1){
    margin-right: 5px;
}

.form-group {
    margin-bottom: 20px !important;
}

.modal-footer {
    text-align: center;
    .btn-inlineblock {
        display: inline-block !important;
        width: 45%;
        font-family: Verdana;
        font-size: 12px;
        font-weight: bold;
    }

        .btn-inlineblock:nth-child(1) {
            margin-right: 5px;
        }
}